<suite name="testing espn">

    <listeners>
        <listener class-name="com.qa.listeners.ExtentTestNGListener" />
            <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    
<test name="run espn">
<classes>
<class name="com.qa.tests.homeTest" />
</classes>
</test>
</suite>
